/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 54px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

img {
    max-width: 100%;
    height: auto;
}

.test {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

img.alignLeft {}

img.alignRight {}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.grid-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid-center,
.grid-full-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid-full-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.grid-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid-2 {
    width: 50%;
}

.grid-3 {
    width: 33.33%;
}

.grid-4 {
    width: 25%;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
    content: "";
}

.block {
    display: block;
    font-family: 'Roboto', sans-serif;
}

.textCenter {
    text-align: center;
}

.textOrange {
    color: #f0a912;
}

span.lead,
p.lead {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
}

.wrapper {
    max-width: 1020px;
    margin: auto;
    position: relative;
    padding: 10px;
    text-align: center;
}

header {
    background: rgba(255, 255, 255, 0.25);
}

section.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.70)), url('/assets/img/hero1.jpg') no-repeat center center / cover;
    height: calc(100vh - 58px);
    top: 5px;
    position: relative;
}

.hero-wrapper {
    overflow: hidden;
    width: 100%;
    clear: both;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 200px;
}

.hero .lead {
    color: white;
}

.nav-wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 16px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

nav ul {
    float: right;
}

.logo {
    float: left;
    width: 100%;
    max-width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    padding-left: 55px;
    margin-bottom: 0px;
}

nav ul li a {
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.80);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    cursor: pointer;
}

nav ul li a:hover {
    color: black;
    border-bottom: 2px solid #d45c42;
}

h1 {
    font-size: 60px;
    line-height: 65px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.3px;
}

input[type="text"],
input[type="email"] {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid transparent;
}

.me-img {
    padding-left: 50px;
}

input[type="text"]:active {
    outline: none;
}

form {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 10px;
    padding-left: 90px;
}

form input {
    padding: 10px;
    width: 33%;
    float: left;
    border: none;
}

div.form {
    overflow: hidden;
}

input[type="text"],
input[type="email"] {
    margin-right: 1%;
}

.submit-btn {
    padding: 11px 25px;
    background-color: #F05F40;
    border-radius: 5px;
    font-size: 16px;
    line-height: 21px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 180px;
}

.submit-btn:hover {
    background-color: #d45c42;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.info-btn {
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 130px;
    width: 100%;
    bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.info-btn:hover {
    border-color: #3C5496;
    background-color: #3C5496;
}

.fa-arrow-circle-o-down {
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 20px;
    height: 25px;
    width: 25px;
}


/* HOW IT WORKS */

.blue-bg {
    background-color: #3C5496;
}

.function-btn {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 25px;
    border-radius: 5px;
    transition: 0.3s;
}

.function-btn:hover {
    border-color: white;
    background-color: white;
    color: #3C5496;
    font-weight: bold;
}

.features h2,
.projects h2 {
    margin-bottom: 50px;
}

.features h2:after,
.projects h2:after {
    display: block;
    height: 2px;
    background-color: #3C5496;
    content: " ";
    width: 100px;
    margin: 0 auto 0 auto;
    margin-top: 25px;
}

.blue-bg .wrapper {
    padding: 80px 10px;
    color: white;
}

p.white-block-after:after {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 100px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
}

h2.white-block-after:after {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 100px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
}


/* FEATURES */

.features .wrapper {
    max-width: 1200px;
    padding: 80px 10px;
}

.col-1-of-4 {
    width: 23%;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.col-1-of-4:last-child {
    margin-right: 0;
}

i {
    margin-bottom: 30px;
    color: #F05F40;
}

.features-btn {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: white;
    border: 1px solid #3C5496;
    padding: 15px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #3C5496;
    clear: both;
}

.features-btn:hover {
    background-color: #2d3e6d;
}


/* PROJECTS */

section.projects {
    margin-bottom: 80px;
    overflow: hidden;
}

.projects .block p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 23px;
}

.project {
    padding: 20% 0px 0px 0px;
    width: 33.33%;
    float: left;
    position: relative;
    border: 1px solid white;
    background-size: cover;
    transition: 0.3s;
}

.project.buzz {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/buzz.jpg);
}

.project.buzz:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/buzz.jpg);
}

.project.vozduh {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/vozduh.jpg);
    transition: 0.3s;
}

.project.vozduh:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/vozduh.jpg);
}

.project.avis {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/avis.jpg);
}

.project.avis:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/avis.jpg);
}

.first {
    border-left: none;
}

.last {
    border-right: none;
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-info h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 30px;
}

.project-info p {
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.project-btn {
    padding: 0px;
    text-decoration: none;
    height: 0px;
    text-align: center;
    margin-top: 40px;
    border-radius: 7px;
    background-color: #006fe6;
    text-transform: uppercase;
    color: white;
    font-size: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 40px;
    border: 0;
    display: inline-block;
}

.project:hover a {
    padding: 15px 25px 15px 25px;
    height: 43px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.project a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.project:hover p {
    font-size: 18px;
    line-height: 23px;
}

.blue-bg .wrapper form input {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 400px;
    float: none;
}

.blue-bg .wrapper button {
    margin-bottom: 50px;
}

.blue-bg .wrapper p {
    font-size: 20px;
    line-height: 25px;
}

.blue-bg .wrapper h2 {
    margin-bottom: 40px;
}

.fa-envelope-o {
    color: white;
}

.row {
    overflow: hidden;
    clear: both;
}


/* DARK BG */

.dark-bg {
    background-color: #222;
}

.dark-bg .wrapper {
    padding: 40px 10px;
}

.dark-bg .wrapper h4 {
    color: white;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
}


/* FOOTER */

footer {
    background: #222;
    padding: 20px 10px;
    clear: both;
}

footer p {
    margin: 0;
    color: white;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

header {
    background-color: rgb(243, 243, 243);
    left: 0;
    right: 0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

body.menu-is-active .nav-wrapper {
    height: 0;
    padding: 0px;
}

body.menu-is-active .menu-trigger {
    display: none;
}

a:hover {
    cursor: pointer;
}

.main-input.validation-error {
    border: 1px solid #ca0000;
    transition: 0.3s;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 1380px) {
    section.hero {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.70)), url('../images/hero.jpg') no-repeat center center / cover;
    }
}

@media only screen and (max-width: 1200px) {
    .project:hover a {
        margin: 0;
    }
    .project {
        width: 50%;
        margin: 0 auto;
        padding: 15%;
    }
}

@media only screen and (max-width: 1100px) {
    .hero-wrapper {
        overflow: hidden;
        width: 100%;
        clear: both;
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 100px;
    }
}

@media only screen and (max-width: 900px) {
    .div-form span.block {
        display: inline;
    }
    .div-form h1,
    .div-form p {
        text-align: center;
    }
    .div-form form {
        margin: 0 auto;
    }
    .div-form form input {
        width: 100%;
        margin-bottom: 30px;
    }
    .submit-btn {
        display: block;
        margin: 0 auto;
        min-width: 200px;
    }
    form {
        padding: 0px 10px !important;
    }
}

@media only screen and (max-width: 950px) {
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 300px;
        background: #f3f3f3;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        z-index: 99999;
    }
    .menu li {
        display: block;
        margin-top: 20px;
        padding: 0;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }
    .menu li a {
        font-size: 18px;
    }
    .menu li a:hover {
        border-color: transparent;
    }
    .menu-is-active .menu {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        display: block;
        padding: 0px 15px;
    }
    .main-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.72);
        z-index: 5;
        display: none;
    }
    .main-overlay:after {
        content: '';
        display: block;
        background: url('../images/close-icon.svg') no-repeat center center;
        background-size: cover;
        width: 35px;
        height: 35px;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 999;
    }
    .menu-is-active .main-overlay {
        display: block;
    }
    .menu-trigger {
        background: url('../images/hamburger-icon.svg') no-repeat center;
        background-size: cover;
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
        top: 15px;
        z-index: 10;
    }
    .blue-bg .wrapper h2 {
        margin-bottom: 30px;
    }
    .col-1-of-4 {
        width: 47%;
        margin: 0;
    }
    .clearfix2 {
        clear: both;
        content: "";
    }
}

@media only screen and (max-width: 640px) {
    .col-1-of-4 {
        width: 100%;
        float: none;
    }
    .col-1-of-4:last-child {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .div-form {
        padding: 0px 10px;
    }
    .project {
        width: 100%;
        margin: 0 auto;
        padding: 30%;
    }
    h1 {
        font-size: 35px;
        line-height: 40px;
    }
    p.lead {
        font-size: 16px;
        line-height: 21px;
    }
    h2 {
        font-size: 28px;
        line-height: 33px;
    }
    .blue-bg .wrapper p {
        font-size: 18px;
        line-height: 23px;
    }
    .dark-bg .wrapper h4 {
        font-size: 25px;
        line-height: 30px;
    }
    .info-btn {
        display: none;
    }
    .fa-arrow-circle-o-down {
        display: block;
        bottom: 10px;
    }
    .logo {
        max-width: 80px;
    }
    body {
        padding-top: 50px;
    }
    .menu-trigger {
        top: 15px;
    }
    section.hero {
        height: calc(100vh - 55px);
    }
    h1 {
        font-size: 28px;
        line-height: 33px;
    }
    .blue-bg .wrapper p {
        font-size: 16px;
        line-height: 21px;
    }
    .hero-wrapper {
        padding-top: 20px;
    }
    p.lead {
        margin-bottom: 15px;
    }
    .div-form form input {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .project-info h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .project:hover a {
        padding: 10px 20px 10px 20px;
        height: 33px;
        font-size: 14px;
    }
    .menu {
        max-width: 250px;
    }
}