

<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <h2 class="section-heading">ЗА ПОДОБРО ОБРАЗОВАНИЕ И КАРИЕРА <h4>Oгласна табла за споделување иницијативи и повици за соработка меѓу студенти од различни струки.<h4></h2>
                    <hr class="light"> 
                     <p class="text-faded">  Иницијативата е резултат од актуелните предизвици на образованието во Македонија. Во моментот се изработува и потребно е твоето мислење за да знаеме дали навистина е потребна. Тимот постојано се надополнува и добредојдени се сите ентузијасти кои што сакаат да се вклучат. </p> </br> </br>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Како функционира?</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ЧЕТИРИ ФУНКЦИОНАЛНОСТИ</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search text-primary sr-icons"></i>
                        <h3>ИСТРАЖУВАЊЕ</h3>
                        <p class="text-muted"> <strong>Имаш пријатели кои што константно нешто прават, ама ти цело време не си во тек? </strong></br></br>Ги разгледуваш сите споделени иницијативи од твоите колеги и дознаваш што е актуелно во моментот.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>ВКЛУЧУВАЊЕ</h3>
                        <p class="text-muted"><strong>Сакаш да ги тестираш своите вештини? </strong></br></br>Се приклучуваш во некоја иницијатива каде што е потребно твоето знаење и ги развиваш вештините онаму каде што имаш интерес.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-share text-primary sr-icons"></i>
                        <h3>СПОДЕЛУВАЊЕ</h3>
                        <p class="text-muted"><strong>Фан си на STARWARS, сакаш да направиш нешто против загадениот воздух или размислуваш за твоја изложба на фотографии? </strong></br></br>Споделуваш иницијатива која што ја размислуваш долго време и ги каниш студентите да ти се приклучат.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>РАНГИРАЊЕ</h3>
                        <p class="text-muted"> <strong>Сакаш да ги поддржиш твоите приjaтели? </strong></br></br> Имаш можност да ги рангираш иницијативите на твоите колеги и да им помогнеш во евалуацијата на нивните проекти.</p>
                    </div>
                </div>
            </div>
        </div></br> </br> </br>
        <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button" style="background-color: #3C5496;color:white;">Што може да се споделува?</a> 
        </br></br></br></br></br>
        </div>
    </section>
<div class="col-lg-12 text-center">
                    <h2 class="section-heading">ДОСЕГАШНИ ИНИЦИЈАТИВИ ОД СТУДЕНТИ </h2>
                        <p>
                    На <strong>moxie</strong> можеш да споделиш иницијатива на секоја тема.</p>
                    <hr class="primary">
                </div>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="/assets/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    АПЛИКАЦИЈА
                                </div>
                                <div class="project-name">
                                    Мој Воздух - Дознај што дишеш
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="/assets/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    AПЛИКАЦИЈА
                                </div>
                                <div class="project-name">
                                    BUZZ
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="/assets/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    ПРОЕКТ
                                </div>
                                <div class="project-name">
                                    AVIS - Дрон управуван од фитнес алка 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
    </section>

    

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ВКЛУЧИ СЕ ВО ПРОЕКТОТ ИЛИ СТАНИ БЕТА ТЕСТЕР</h2>
                    <hr class="primary">
                     </br></br>
                    <p>Доколку имаш некакви дополнителни прашања или предлози пиши ни на мејл.</p>
                </div>
                
                <div class="col-lg-12 text-center"> 
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p ><p style="color:gray;">beamoxie@gmail.com</p></a></p>
                </div>
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Проектот е формиран врз база на низа истражувања и искуства со студенти во Македонија.</h2></br>
                <a href="https://medium.com/@anitakirkovska/moxie-empowering-collaboration-amongst-students-in-macedonia-915d36a49aad   " class="btn btn-default btn-xl sr-button">Провери тука!</a>
                
            </div>

        </div>
    </aside>
    <p style="text-align: center; font-size: 10px;">Moxie 2016</p>
