<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="image_src" href="/assets/img/Moxie-01.png">
    <!--<meta property="og:title" content="" />-->
    <!--<meta property="og:url" content="" />-->
    <!--<meta property="og:image" content="" />-->
    <!--<meta property="og:site_name" content="" />-->
    <!--<meta property="og:description" content="" />-->
    <title>Moxie</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/9cc5e1cd1e.js"></script>
        <link href="/assets/css/creative.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
            <script src="scripts/html5shiv.min.js"></script>
        <![endif]-->
</head>

<body>
    <section class="hero" id="home">
        <header>
            <nav class="nav-wrapper nav-main-nav">
                <div class="logo">
                    <img src="/assets/img/banner-logo.png" class="logo scroll-to-home">
                </div>
                <ul class="list-menu menu ul-main-nav js-main-nav">
                    <li class="list-items"><a class="scroll-to-idea">ЗА MOXIE</a></li>
                    <li class="list-items"><a class="scroll-to-features">ФУНКЦИИ</a></li>
                    <li class="list-items"><a class="scroll-to-projects">ПРОЕКТИ</a></li>
                    <li class="list-items"><a class="scroll-to-contact">КОНТАКТ</a></li>
                </ul>
            </nav>
            <div class="menu-trigger js-menu-trigger"></div>
        </header>
        <div class="main-overlay js-main-overlay"></div>
        <div class="hero-wrapper">
             <div class="div-form ">
                 <h1 class="textCenter"><strong>ИНИЦИЈАТИВА ЗА ПРОМЕНИ <span class="block">ПРЕКУ СТУДЕНТСКА СОРАБОТКА</span></strong></h1>
                 <p class="textCenter lead">Приклучи се на <strong>200 студенти</strong>, посветени кон создавање на подобри можности во образованието</p>
                 <%= render 'form' %>
             </div>
             <a href="#" class="info-btn scroll-to-idea">Повеќе инфо</a>
             <a class="scroll-to-idea"><img src="/assets/img/arrow.png" class="fa fa-arrow-circle-o-down"></a>
        </div>    
    </section>
    
    <section class="blue-bg" id="idea">
        <div class="wrapper">
            <h2 class="white-block-after">ОД СТУДЕНТИТЕ ЗА СТУДЕНТИТЕ</h2>
            <p class="margin-bottom-40">Проектот е создаден за да одговори на актуелните предизвици со образованието во Македонија. <strong>Претставува огласна табла за споделување иницијативи за соработка, помеѓу студенти од различни факултети.</strong></p>
            <a class="function-btn scroll-to-features">КАКО ФУНКЦИОНИРА?</a>
        </div>
    </section>
    
    <section class="features clearfix" id="features">
        <div class="wrapper">
           <h2 class="blue-block-after">ПРАКТИЧНО ИСКУСТВО ЗА ВРЕМЕ НА СТУДИИТЕ</h2>
            <div class="row">
                <div class="col-1-of-4">
                    <i class="fa fa-search fa-4x" aria-hidden="true"></i>
                    <h3>ИСТРАЖУВАЊЕ</h3>
                    <p>Ги разгледуваш споделените идеи од твоите колеги и следиш што е актуелно во моментот.</p>
                </div>
                <div class="col-1-of-4">
                    <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
                    <h3>ВКЛУЧУВАЊЕ</h3>
                    <p>Се приклучуваш во некоја идеја каде што е потребно твоето знаење и ги развиваш своите вештини.</p>
                </div>
                <div class="col-1-of-4 clearfix2">
                    <i class="fa fa-share fa-4x" aria-hidden="true"></i>
                    <h3>СПОДЕЛУВАЊЕ</h3>
                    <p>Споделуваш идеја која што ја мислиш долго време и ги каниш колегите да ти се приклучат.</p>
                </div>
                <div class="col-1-of-4 ">
                    <i class="fa fa-heart fa-4x" aria-hidden="true"></i>
                    <h3>РАНГИРАЊЕ</h3>
                    <p>Ги рангираш идеите на колегите и им помагаш во евалуацијата на нивните проекти.</p>
                </div>
            </div>
            </br>
            <a class="features-btn scroll-to-projects">ШТО МОЖЕ ДА СЕ СПОДЕЛУВА?</a>
        </div>
    </section>

    <section class="projects" id="projects">
        <div class="wrapper">
            <h2>ДОСЕГАШНИ ПРОЕКТИ НА СТУДЕНТИ <span class="block"><p>На <strong>moxie </strong>можеш да споделиш иницијатива на секоја тема.</p></span></h2>
        </div>
            <div class="project vozduh odd first">
                <div class="project-info">
                    <h3>Мој Воздух</h3>
                    <p>Дознај што дишеш!</p>
                    <a href="http://mojvozduh.eu/" class="project-btn" target="_blank">Дознај повеќе</a>
                </div>
            </div>
            <div class="project buzz odd first">
                <div class="project-info">
                    <h3>Buzz App</h3>
                    <p>Споделувај анонимно!</p>
                    <a href="http://buzzwith.me" class="project-btn" target="_blank">Дознај повеќе</a>
                </div>
            </div>
            <div class="project avis first">
                <div class="project-info">
                    <h3>AVIS</h3>
                    <p>Дронови за сите!</p>
                    <a href="https://2016.spaceappschallenge.org/challenges/aero/dont-crash-my-drone/projects/avis-liberta" class="project-btn" target="_blank">Дознај повеќе</a>
                </div>
            </div>

    </section>

    
    
    <section class="blue-bg clearfix" id="contact">

        <div class="wrapper">
            <h2 class="white-block-after">ТВОЕТО МИСЛЕЊЕ Е НАЈВАЖНО</h2>
            <div class="subscribe-form2"><%= render 'form' %></div>
            <p>Доколку имате предлози и прашања, контактирајте не' на мејл.</p> 
            <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
            <p>beamoxie@gmail.com</p>                       
        </div>
    </section>
    
    <section class="dark-bg">
        <div class="wrapper">
            <h4>Проектот е формиран како резултат на низа истражувања и искуства на студенти во Република Македонија.</h4>
            <a href="https://medium.com/@anitakirkovska/moxie-empowering-collaboration-amongst-students-in-macedonia-915d36a49aad#.u161xr5yj" target="_blank" class="function-btn">ПРОВЕРИ ТУКА!</a>
        </div>
    </section>
    

    <footer>
        <div class="wrapper">
            <p class="textCenter">Copyright &copy; Moxie 2016</p>
            <p class="textCenter">All Rights Reserved</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/js/creative.js"></script>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/creative.min.js"></script>
</body>

</html>
